*{
    padding: 0;
    margin: 0;
}

.top{
    height: 40vh;
    background-image: linear-gradient(to right, blue, pink);
}

.bottom{
    background-color:rgb(20, 4, 77) ;
    height: 60vh;
}

.model{
    position: fixed;
    z-index: 2;
    top: 20vh;
    width: 100vw;
    /* background-color: rgb( green); */
    display: flex;
    justify-content: center;
}

.todomain{
    width: 60vw;
    max-width: 500px;
}

h1{
    color: white;
}

.inputs{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:rgb(20, 4, 77) ;
    margin-top: 20px;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
    background-color: black;
    appearance: none;
    clip-path: circle(45% at 50% 50%);
}

.checkbox:checked{
    appearance: auto;
}

#createtodo{
    background-color:rgb(20, 4, 77) ;
    border: none;
    padding: 5px;
    margin-left: 10px;
    width: 100%;
    color: white;
}

.todos{
    background-color:rgb(3, 0, 12) ;
    margin-top: 30px;
}

.todo{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    border-bottom: 0.5px solid gray;
}

.todo > div{
    margin-left: 15px;

}


.footer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgb(114, 112, 112);
}

.section2 li{
  list-style: none;
  color: rgb(91, 86, 86);
}

.section2 ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.section3 li{
  list-style: none;
}

#Add1{
  color: rgb(91, 86, 86);
}

.section1{
  color: rgb(63, 61, 61);
}